.container {
            background-color: rgba(211, 211, 211, 0.5); /* Light gray with 50% transparency */
            border: 3px solid #FF9138; /* 3px border with color #FF9138 */
            border-radius: 10px; /* Rounds the corners */
            padding: 20px; /* Adds some padding inside the container */
        }
.btn-primary {
    background-color: #FF9138; /* Button background color */
    border-color: #FF9138; /* Button border color */
}

.btn-primary:hover {
    background-color: #FFA267; /* Button background color on hover */
    border-color: #FFA267; /* Button border color on hover */
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 145, 56, 0.5); /* Button focus shadow color */
}

a{
	color:white;
}