/* css/work_login.css */
body {
	background-image: url('../images/wallpaper.jpg');
    background-attachment: fixed;
    color: #FF9138;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container form div {
    margin-bottom: 15px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 2px;
    border: none;
    border-radius: 8px;
}

.login-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF9138;
    color: white;
    cursor: pointer;
}

.login-container .error {
    color: red;
}
